---
import Hero from "../components/Hero.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { categories } from "../data/categories.js";
import CAtegoryuCarl
---

<DefaultLayout>
  <div>
    
    <Hero />
    <div class="flex justify-between p-3 bg-pink-400">
        {
            categories.map(category => (
                <div key={category.id}>
                    <h3 class="font-bold">{category.name}</h3>
                    <ul>
                        {category.subcategories.map(subcategory => (
                            <li key={subcategory.id}>{subcategory.name}</li>
                        ))}
                    </ul>
                </div>
            ))
        }

    </div>
  </div>
</DefaultLayout>
