 
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Alojamientos</h6>
            <h1>Elige tu tipo de estancia ideal en Cuba</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="/alojamiento/casa-en-la-playa" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                    <i class="fa fa-2x fa-umbrella-beach mx-auto mb-4"></i>
                    <h5 class="mb-2">Casa en la playa</h5>
                    <p class="m-0">Despierta con el sonido del mar y disfruta de la brisa caribeña en casas frente a las mejores playas de Cuba.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="/alojamiento/casa-en-el-campo" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                    <i class="fa fa-2x fa-tree mx-auto mb-4"></i>
                    <h5 class="mb-2">Casa en el campo</h5>
                    <p class="m-0">Vive la tranquilidad rural, rodeado de naturaleza, tradiciones y hospitalidad cubana auténtica.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="/alojamiento/apartamento" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                    <i class="fa fa-2x fa-building mx-auto mb-4"></i>
                    <h5 class="mb-2">Apartamento</h5>
                    <p class="m-0">Disfruta de la comodidad y privacidad de un apartamento moderno en el corazón de la ciudad.</p>
                </a>
            </div>
        </div>
    </div>
</div>
    