<div class="carousel">
    <div class="list">
        <div class="item">
            <img src="/img/5tamolinos.jpg" alt="5ta Molinos" />
            <div class="content">
                <div class="author">La Habana</div>
                <div class="title">5ta Molinos</div>
                <div class="topic">Arquitectura</div>
                <div class="des">Antiguo complejo industrial convertido en símbolo arquitectónico y cultural de la ciudad.</div>
                <div class="buttons">
                    <button>Ver más</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/El_Capitolio_Havana_Cuba.jpg" alt="El Capitolio" />
            <div class="content">
                <div class="author">La Habana</div>
                <div class="title">El Capitolio</div>
                <div class="topic">Monumento</div>
                <div class="des">Majestuoso edificio neoclásico, uno de los íconos más reconocidos de Cuba.</div>
                <div class="buttons">
                    <button>Ver más</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/canasi1.webp" alt="Playa Canasí" />
            <div class="content">
                <div class="author">Mayabeque</div>
                <div class="title">Playa Canasí</div>
                <div class="topic">Naturaleza</div>
                <div class="des">Playa virgen de aguas cristalinas y entorno natural, ideal para desconectar.</div>
                <div class="buttons">
                    <button>Ver más</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/hotelnacional.jpg" alt="Hotel Nacional" />
            <div class="content">
                <div class="author">La Habana</div>
                <div class="title">Hotel Nacional</div>
                <div class="topic">Historia</div>
                <div class="des">Hotel emblemático con vistas al malecón, declarado Monumento Nacional.</div>
                <div class="buttons">
                    <button>Ver más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnail">
    <div class="item"><img src="/img/callehabana.jpg" alt="Miniatura Calle Habana" /><div class="content"><div class="title">Calle Habana</div><div class="description">Color y vida en la ciudad</div></div></div>
    <div class="item"><img src="/img/malecon.jpg" alt="Miniatura Malecón" /><div class="content"><div class="title">Malecón</div><div class="description">Paseo icónico junto al mar</div></div></div>
    <div class="item"><img src="/img/cascada.jpg" alt="Miniatura Cascada" /><div class="content"><div class="title">Cascada</div><div class="description">Belleza natural de Cuba</div></div></div>
    <div class="item"><img src="/img/naturaleza1.jpg" alt="Miniatura Naturaleza" /><div class="content"><div class="title">Naturaleza</div><div class="description">Paisajes verdes y frescura</div></div></div>
    </div>
    <div class="arrows">
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>
    </div>
    <div class="time"></div>
</div>

<link rel="stylesheet" href="/styles/slider.css">
<script type="module" src="/scripts/slider.js"></script>
