---
import { Icon } from "astro-Icon/components";
interface Props {
  label: string;
  icon: string;
  link: string;
}

const { label, icon, link } = Astro.props;
---

<div>
  <a href={`/${link}`}>
    <div class="p-4 text-white">
        <Icon name={icon} size={30} class="text-center" /> 
        <h1>{label}</h1>
    </div>
  </a>
</div>
fkhh