<div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Explore Top Destination</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/El_Capitolio_Havana_Cuba.jpg" alt="El Capitolio, La Habana">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">La Habana</h5>
                            <span>Capital de Cuba</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/hotelnacional.jpg" alt="Hotel Nacional de Cuba">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Hotel Nacional</h5>
                            <span>Ícono de La Habana</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/Callecuba.jpg" alt="Calle de Cuba">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Calles de Cuba</h5>
                            <span>Ambiente Colonial</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/canasi1.webp" alt="Canasí, Cuba">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Canasí</h5>
                            <span>Playa y Naturaleza</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/5tamolinos.jpg" alt="5ta Molinos, Cuba">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">5ta Molinos</h5>
                            <span>Arquitectura y Cultura</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="/img/cubacalle2.jpg" alt="Calle de Cuba 2">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Calle Habana</h5>
                            <span>Vida Urbana</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>