    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Lo más recomendado en </h6>
                <h1>Alojamiento  Tours  Excursiones</h1>
            </div>
            <div class="row">
                <!-- Tour por La Habana Vieja -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img-fixed" src="/img/Cuba.webp" alt="Tour por La Habana Vieja">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>La Habana</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>1 día</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Guía local</small>
                            </div>
                            <a class="h5 text-decoration-none" href="/tours/paquetes/tour-habana-vieja">Recorre las calles coloniales, plazas y el Malecón en un tour inolvidable por la capital cubana.</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>5.0 <small>(+300)</small></h6>
                                    <h5 class="m-0">Desde $45</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Excursión a Viñales -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img-fixed" src="/img/canasi1.webp" alt="Excursión a Viñales">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Viñales</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>1 día</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Grupos reducidos</small>
                            </div>
                            <a class="h5 text-decoration-none" href="/excursiones/paquetes/excursion-vinales">Explora el Valle de Viñales, sus mogotes y plantaciones de tabaco con actividades de senderismo y bicicleta.</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.9 <small>(+200)</small></h6>
                                    <h5 class="m-0">Desde $55</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cayo Santa María -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img-fixed" src="/img/tour2.jpg" alt="Cayo Santa María">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Cayo Santa María</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>2 días</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Todo incluido</small>
                            </div>
                            <a class="h5 text-decoration-none" href="/tours/paquetes/tour-cayo-santa-maria">Relájate en playas paradisíacas, disfruta de deportes acuáticos y gastronomía local en un entorno exclusivo.</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>5.0 <small>(+150)</small></h6>
                                    <h5 class="m-0">Desde $120</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Casa en la Playa -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img-fixed" src="/img/callehabana.jpg" alt="Casa en la Playa">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Playas del Este</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>Flexible</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Familias y parejas</small>
                            </div>
                            <a class="h5 text-decoration-none" href="/alojamiento/casa-en-la-playa/casa-playa-este">Alojamiento frente al mar con todas las comodidades y acceso directo a la playa.</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.8 <small>(+180)</small></h6>
                                    <h5 class="m-0">Desde $60/noche</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Casa en el Campo -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img-fixed" src="/img/parque1.jpg" alt="Casa en el Campo">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Valle de Yumurí</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>Flexible</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Experiencia rural</small>
                            </div>
                            <a class="h5 text-decoration-none" href="/alojamiento/casa-en-el-campo/casa-campo-yumuri">Hospédate en una casa rural rodeada de naturaleza, ideal para desconectar y vivir la Cuba auténtica.</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.7 <small>(+120)</small></h6>
                                    <h5 class="m-0">Desde $40/noche</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Apartamento en La Habana -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img-fixed" src="/img/El_Capitolio_Havana_Cuba.jpg" alt="Apartamento en La Habana">
</div>
<style>
    .package-img-fixed {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0 0;
        background: #eaeaea;
        display: block;
    }
</style>
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Centro Habana</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>Flexible</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Hasta 4 personas</small>
                            </div>
                            <a class="h5 text-decoration-none" href="/alojamiento/apartamento/apartamento-habana">Apartamento moderno y céntrico, perfecto para explorar la ciudad y disfrutar de la vida habanera.</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.9 <small>(+90)</small></h6>
                                    <h5 class="m-0">Desde $55/noche</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>