<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">CUBA</span>PARADISE</h1>
                </a>
                <p>Descubre las experiencias más auténticas de Cuba. Desde alojamiento único hasta excursiones inolvidables en la perla del Caribe.</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Síguenos</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="https://wa.me/56938980598" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Nuestros Servicios</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/categories/alojamiento"><i class="fa fa-angle-right mr-2"></i>Alojamiento</a>
                    <a class="text-white-50 mb-2" href="/categories/excursiones"><i class="fa fa-angle-right mr-2"></i>Excursiones</a>
                    <a class="text-white-50 mb-2" href="/categories/tour-guiado"><i class="fa fa-angle-right mr-2"></i>Tours Guiados</a>
                    <a class="text-white-50 mb-2" href="/categories/renta-auto"><i class="fa fa-angle-right mr-2"></i>Renta de Auto</a>
                    <a class="text-white-50 mb-2" href="/categories/clases"><i class="fa fa-angle-right mr-2"></i>Clases</a>
                    <a class="text-white-50 mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>Sobre Nosotros</a>
                    <a class="text-white-50" href="/admin"><i class="fa fa-angle-right mr-2"></i>Administración</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Enlaces Útiles</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                    <a class="text-white-50 mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>Sobre Nosotros</a>
                    <a class="text-white-50 mb-2" href="/categories/alojamiento"><i class="fa fa-angle-right mr-2"></i>Alojamiento</a>
                    <a class="text-white-50 mb-2" href="/categories/excursiones"><i class="fa fa-angle-right mr-2"></i>Excursiones</a>
                    <a class="text-white-50 mb-2" href="/categories/tour-guiado"><i class="fa fa-angle-right mr-2"></i>Tours</a>
                    <a class="text-white-50 mb-2" href="https://wa.me/56938980598" target="_blank"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
                    <a class="text-white-50" href="/admin"><i class="fa fa-angle-right mr-2"></i>Admin</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contáctanos</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>La Habana, Cuba</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+56 9 3898 0598</p>
                <p><i class="fa fa-envelope mr-2"></i>info@cubaparadise.com</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Newsletter</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Tu Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3">Suscribirse</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            
            
        </div>
    </div>