<nav class="p-4 flex justify-between border-pink-400 border-b-4">
  <div><h1 class="text-violet-900 font-bold text-3xl">Cuba Paradise</h1></div>
  <div>
    <ul class="flex p-4">
      <li><a href="/" class="text-violet-900 font-bold p-4">Home</a></li>
      <li><a href="/about" class="text-violet-900 p-4">About</a></li>
      <li><a href="/services" class="text-violet-900 p-4">Services</a></li>
    </ul>
  </div>
</nav>
