---

---


<section class="flex justify-center items-center object-cover h-68 w-full bg-[url('public/Cuba.webp')] bg-gray-300 bg-blend-multiply">
    <div>
        <h1 class="text-4xl text-center text-black h-58 font-bold bg-gradient-to-b">Welcome to Cuba Paradise</h1>
        <p class="text-xl text-white">Experience the beauty and culture of Cuba like never before.</p>
    </div>

</section>  