    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios Turísticos</h6>
                <h1>Tours Cuba, Alojamiento y Excursiones Auténticas</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="/alojamiento" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                        <i class="fa fa-2x fa-home mx-auto mb-4"></i>
                        <h5 class="mb-2">Alojamiento Cuba - Casas Particulares</h5>
                        <p class="m-0">Reserva casas particulares en La Habana, Trinidad y Viñales. Alojamiento auténtico con familias cubanas.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="/excursiones" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                        <i class="fa fa-2x fa-map-marked-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">Excursiones y Tours Guiados</h5>
                        <p class="m-0">Tours por La Habana Vieja, excursiones Valle de Viñales, Trinidad tours y más destinos cubanos con guías locales.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="/servicios/renta-auto" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                        <i class="fa fa-2x fa-car mx-auto mb-4"></i>
                        <h5 class="mb-2">Renta de Autos Cuba</h5>
                        <p class="m-0">Alquiler de carros en Cuba con entrega personal. Viaja por toda la isla con seguridad y libertad.</p>
                        <span class="d-block mt-3">
                            <a href="/servicios/renta-auto" class="btn btn-success" style="background:#25D366;border:none;">
                                <i class="fa fa-info-circle mr-2"></i>Reservar Auto
                            </a>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="/tours" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                        <i class="fa fa-2x fa-umbrella-beach mx-auto mb-4"></i>
                        <h5 class="mb-2">Tours Playas Cuba</h5>
                        <p class="m-0">Excursiones a Varadero, Cayo Santa María, playas de Trinidad y cayos vírgenes. Descubre el Caribe cubano.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="/tours" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                        <i class="fa fa-2x fa-users mx-auto mb-4"></i>
                        <h5 class="mb-2">Guías Turísticos Cuba</h5>
                        <p class="m-0">Guías locales especializados en historia, cultura y naturaleza cubana. Tours personalizados y experiencias auténticas.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="/contact" class="service-item bg-white text-center mb-2 py-5 px-4 d-block text-dark text-decoration-none">
                        <i class="fa fa-2x fa-concierge-bell mx-auto mb-4"></i>
                        <h5 class="mb-2">Planifica tu Viaje a Cuba</h5>
                        <p class="m-0">Asesoría personalizada para organizar tu viaje a Cuba. Itinerarios, reservas y recomendaciones de expertos locales.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>