 
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Tours Destacados</h6>
            <h1>Descubre Cuba con experiencias únicas</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-city mx-auto mb-4"></i>
                    <h3 class="mb-2">Tour por La Habana Vieja</h3>
                    <p class="m-0">Recorre las calles coloniales, plazas históricas y descubre la esencia de la capital cubana con guías locales.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-mountain mx-auto mb-4"></i>
                    <h3 class="mb-2">Excursión a Viñales</h3>
                    <p class="m-0">Explora los paisajes de mogotes, plantaciones de tabaco y cuevas en el Valle de Viñales, Patrimonio de la Humanidad.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-water mx-auto mb-4"></i>
                    <h3 class="mb-2">Aventura en Cayo Santa María</h3>
                    <p class="m-0">Disfruta de playas paradisíacas, deportes acuáticos y relax total en uno de los cayos más bellos de Cuba.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    